atomicwrites==1.4.0
attrs==21.2.0
colorama==0.4.4
coverage==6.1.2
importlib-metadata==4.8.2
iniconfig==1.1.1
llvmlite==0.37.0
numba==0.54.1
numpy==1.20.3
packaging==21.2
pluggy==1.0.0
py==1.11.0
pyparsing==2.4.7
pytest==6.2.5
pytest-cov==3.0.0
pytest-html==3.1.1
pytest-metadata==1.11.0
toml==0.10.2
tomli==1.2.2
typing_extensions==4.0.0
zipp==3.6.0
